/*unidad e medida relativa REM se adapta para tipografia nos e us aporcentaje, rem si, pixeles no es relativo e absoulo,  EL HTML TIENE 16PX DE BASE*/

/* 1rem = 16px */

/*

h1{
    font-size: 2rem;



}

/*unidad relativa EM va a ser del tamaño del contendor más próximo*/

/*
div{
    font-size: 40px;
}

h2{
    font-size: 1em;
}



/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos generales*/
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;

}

/*estilos de header*/
header{
    display: none;
}

/*estilos de main*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2{
    text-align: center;
    color: #182941;
    margin: 1rem;
}

main h2 span{
    display: block;
}

main p{
    text-align: center;
}

main .boton{
    background-color: #51B0DF;
    padding: 0.6rem;
    margin-top: 1rem;
    box-shadow: 2px 2px 2px black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

/*estilos section*/

section{
    display: none;
}

/*estilos de footer*/

footer h4{
    text-align: center;

}

/*media queries*/

@media screen and (min-width:600px){

   header{
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
   }

   header nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
   }

   header nav ul li{
    font-weight: bold;
    font-size: 1rem
      
    }

   header nav ul li:hover{
    background-color: #51B0DF;
    transform: scale(0.9);
    box-shadow: 1px 1px 3px black;    
   }

   /*estilos nuevos del main*/
   main{
    
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr ;
    grid-template-areas: 
    "p img"
    "h2 img"
    "p-dos img"
    "boton img"
    ;

    justify-content: center;
    justify-items: center;

   }

   main p{
    grid-area: p;
   }
 
   main img{
    grid-area: img;
    width: 60%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.452)) /*le pondra sombra a la fotos en png*/
   }

   main h2{
    grid-area: h2;
    font-size: 1.7rem;
   }

   main .p-dos{
    grid-area: p-dos;
   }

   main .boton{
    grid-area: boton;
   }
   
   main .boton:hover{
    transform: scale(1.1);
   }

   /*estilos de section*/
   
   section{
    display: block;
    display: flex;
    justify-content: center;
    padding: 1rem;
    animation-name: fondo; /*ponerle nombre a la animacion*/
    animation-duration: 5s;
    animation-iteration-count:infinite;
    }

    @keyframes fondo { /*aqui llamamos al comportamiento de la animación*/
        0%{
            background-color: #e2c080;
        }

        50%{
            background-color: #dfad51;
        }

        100%{
            background-color: #976a17;
      
        }
        
}

    section div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   section div img{
    width: 20%;
    animation-name: animacion; /*ponerle nombre a la animacion*/
    animation-duration: 2s;
    animation-iteration-count:infinite;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.452))
      
}
   

    @keyframes animacion { /*aqui llamamos al comportamiento de la animación*/
            0%{
                transform: translateY(0);
            }

            50%{
                transform: translateY(3px);
            }

            100%{
                transform: translateY(0);
          
            }
            
    }
    




   section div p{
    text-align: center;
   }

   /*estilos de footer*/

   footer{
    margin-top: 1.3rem;
   }

}